<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Cadastrais</title>
    <style>
    </style>
</head>
<body>
    <div class="wrapper-dinamico">
        <%-include('./partials/header.ejs')%>
        <div class="fundo-branco">
            <h2>Editar Perfil</h2>
            <form id="form-editar" method="POST" action="/dados-cadastrais/<%=dados.tipo%>">
                <div class="editar-grupo-inputs">
                    <label>
                        Nome:
                        <input class="input-editar" type="text" value="<%= dados.nome %>" name="nome" required>
                    </label>
                    <label>
                        Email:
                        <input class="input-editar" type="text" value="<%= dados.email %>" name="email" required>
                    </label>
                    <label>
                        Telefone:
                        <input class="input-editar" type="text" value="<%=dados.telefone%>" name="telefone" id="telefone" maxlength="14" required>
                    </label>
                    <div class="editar-input-localidade">
                        <label>
                            Cidade:
                            <input class="input-editar" id="editar-input-cidade" type="text" value="<%=dados.cidade%>" name="cidade" required>
                        </label>
                        <label>
                            UF:
                            <input class="input-editar" id="editar-input-uf" type="text" value="<%=dados.uf%>" name="uf" required>
                        </label>
                    </div>
                </div>
            </form>
            <button style="margin-top: 51px;" class="btn-logar-laranja" type="submit" form="form-editar">Salvar</button>
        </div>
    </div>
    <script>
        const telefone = document.querySelector("#telefone");

        telefone.addEventListener("keypress", () => {
        let value = telefone.value.replace(/[^0-9]/g, "").replace(/^([\d]{2})([\d]{5})?([\d]{4})?/, "($1)$2-$3");
        telefone.value = value;
        });
    </script>
</body>
</html>