<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedor</title>
</head>
<body>
    <div class="wrapper-dinamico">
        <%- include('partials/header.ejs') %>
        <div class="fundo-branco">
            <a onclick="history.back()" class="voltar">Voltar</a>
            <h2>Forma de Pagamento</h2>
            <h3 id="total">Total: R$ <%= total %></h3>
            <div class="grupo-pagamento">
                <%forma.forEach(row=>{ %>
                    <div class="card-pagamento" onclick="location.href='/pagamento/<%=row%>'" style="background-color: #5CAC0E;">
                        <img src="/images/<%= row %>.png">
                        <p><%= row %></p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>